@import 'theme/conf/mixins';
@import 'theme/conf/colorScheme/mint';
@import 'theme/conf/variables';

.table {
    th {
        font-weight: $font-bold;
    }
    .title-row {
        font-weight: $font-bold;
        font-size: 16px;
    }
    .time-column {
        font-style: italic;
        text-align: right;
        width: 40%
    }
    .day-column {
        width: 60%;
        text-align: left !important;
        font-weight: $font-bold;
    }
}

.userpic-wrapper img {
    max-height: 100%;
    max-width: 100%;
}

.fadeIf.ng-enter {
  transition: 0.5s linear all;
}
.fadeIf.ng-enter {
  opacity: 0;
}
.fadeIf.ng-enter.ng-enter-active {
  opacity: 1;
}

.fadeIf {
    .row {
        padding-left: 10px;
    }
}

.profileSliderRow.slider-box {
    min-height: 55px !important;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  
  /*
   * Styles copied from the Grid example to make grid rows & columns visible.
   */
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .dropdown-toggle {
    .btn {
        text-align: left !important;
    }
    .caret {
        position: absolute;
        height: 10px;
        top: 50%;
        right: 10px;
        margin-top: -2px;
    }
  }

  .userpic.userpic-error {
    border-color: rgb(237, 120, 120);
    border-style: solid;
  }

  button.btn.btn-default.btn-error {
    border-color: rgb(237, 120, 120);
    border-style: solid;
    border-width: 1px;
  }

    .table td.fit, 
    .table th.fit {
        white-space: nowrap;
        width: 1%;
    }

    pre.pre-pedidos {
        border: none;
        background-color: transparent;
        color: #666666;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 8px;
    }

    .table td.notes {
        max-width: 200px;
        word-wrap: break-word;
    }

    .table td.estado {
        max-width: 130px;
        min-width: 130px;
        white-space: nowrap;
        width: 1%;
    }
  
    .cssload-container {
        position: relative;
        width: 225px;
        height: 225px;
        display:block;
        margin:56px auto;
        perspective: 1125px;
        -o-perspective: 1125px;
        -ms-perspective: 1125px;
        -webkit-perspective: 1125px;
        -moz-perspective: 1125px;
        perspective: 1125px;
        -o-perspective: 1125px;
        -ms-perspective: 1125px;
        -webkit-perspective: 1125px;
        -moz-perspective: 1125px;
        overflow: hidden;
    }

    .cube {
        position: absolute;
        bottom: 50%;
        left: 50%;
        width: 34px;
        height: 34px;
        margin-left: -17px;
        margin-top: 0;
    }

    .cube-2d {
        background-color: rgb(224,224,224);
    }
    .cssload-arc {
        position: absolute;
        bottom: 50%;
        left: 50%;
        margin-left: -79px;
        width: 158px;
        height: 79px;
        overflow: hidden;
    }

    .cssload-arc-cube {
        position: absolute;
        bottom: -79px;
        left: 50%;
        margin-left: -79px;
        width: 158px;
        height: 158px;
        border-style: solid;
        border-top-color: transparent;
        border-right-color: rgb(32,174,146);
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        animation: cssload-arc 2.6s ease-in-out infinite;
        -o-animation: cssload-arc 2.6s ease-in-out infinite;
        -ms-animation: cssload-arc 2.6s ease-in-out infinite;
        -webkit-animation: cssload-arc 2.6s ease-in-out infinite;
        -moz-animation: cssload-arc 2.6s ease-in-out infinite;
        transform: rotate(-200deg);
        -o-transform: rotate(-200deg);
        -ms-transform: rotate(-200deg);
        -webkit-transform: rotate(-200deg);
        -moz-transform: rotate(-200deg);
    }

    @keyframes cssload-arc {
        0% {
            border-width: 34px;
        }
        25% {
            border-width: 17px;
        }
        50% {
            transform: rotate(27deg);
            border-width: 34px;
        }
        75% {
            border-width: 17px;
        }
        100% {
            border-width: 34px;
        }
    }

    @-o-keyframes cssload-arc {
        0% {
            border-width: 34px;
        }
        25% {
            border-width: 17px;
        }
        50% {
            -o-transform: rotate(27deg);
            border-width: 34px;
        }
        75% {
            border-width: 17px;
        }
        100% {
            border-width: 34px;
        }
    }

    @-ms-keyframes cssload-arc {
        0% {
            border-width: 34px;
        }
        25% {
            border-width: 17px;
        }
        50% {
            -ms-transform: rotate(27deg);
            border-width: 34px;
        }
        75% {
            border-width: 17px;
        }
        100% {
            border-width: 34px;
        }
    }

    @-webkit-keyframes cssload-arc {
        0% {
            border-width: 34px;
        }
        25% {
            border-width: 17px;
        }
        50% {
            -webkit-transform: rotate(27deg);
            border-width: 34px;
        }
        75% {
            border-width: 17px;
        }
        100% {
            border-width: 34px;
        }
    }

    @-moz-keyframes cssload-arc {
        0% {
            border-width: 34px;
        }
        25% {
            border-width: 17px;
        }
        50% {
            -moz-transform: rotate(27deg);
            border-width: 34px;
        }
        75% {
            border-width: 17px;
        }
        100% {
            border-width: 34px;
        }
    }