h3.with-line {
  border-bottom: 1px solid $border;
  color: $default-text;
  font-weight: $font-normal;
  padding-top: 30px;
  margin-bottom: 14px;
  line-height: 39px;
  width: 100%;
}

.panel .panel-body h3 {
  &.with-line {
    margin-bottom: 14px;
    margin-top: 0;
  }
}

.form-validation-msg {
  div {
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(221,44,0);
    font-weight: $font-normal;
  }
}

.notification {
  .form-group {
    label {
      text-align: left;
      padding-left: 26px;
    }
  }
}

.save-menu {
  margin: 23px 0 12px 12px;
}

.close {
  opacity: 1;
  box-shadow: none;
  outline: none !important;
  &:hover, &:focus, &:active {
    opacity: 1;
  }
}

.menu-page {
  .form-group {
    label {
      line-height: 34px;
      font-size: 14px;
      font-weight: $font-light;
    }
    input{
      font-weight: $font-light;
    }
    input[type="file"] {
      display: none;
    }
    .btn-load-image {
      color: #FFFFFF;
      font-weight: 400;
    }
  }
}

