
.form-validation-msg {
  div {
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(221,44,0);
    font-weight: $font-normal;
  }
}

.menu-page {
  h3 {
    color: $primary;
  }

  .menu-item {
    .price {
      color: $primary;
    }
    .discount {
      margin-bottom: 24px;
      color: $warning;
    }
  }

  .form-group {
    label {
      line-height: 34px;
      font-size: 14px;
      font-weight: $font-light;
    }
    input{
      font-weight: $font-light;
    }
    input[type="file"] {
      display: none;
    }
    .btn-load-image {
      color: #FFFFFF;
      font-weight: 400;
    }
  }
}

