.loginBox {
    max-width:  90%;
    width: 500px
}

.login .logo {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.transparent {
    background-color: transparent !important;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    margin-top: 10px;
}