<div ba-panel ba-panel-class="menu-page">
    <div class="panel-content">
        <div ng-if="loading">

            <p style="text-align: center;padding: 10px 0 0 0; font-size: 30px;">Cargando pedidos...</p>
            
            <div class="cssload-container">
                <div class="cssload-arc">
                    <div class="cssload-arc-cube"></div>
                </div>
            </div>
        </div>
        <div ng-if="!loading" class="widgets horizontal-scroll">
            <div style="text-align: center;" ng-if="!orders.length">
                <i class="ion-android-sad" style="font-size: 50px;"></i>
                <p style="margin-top: 10px;font-size: 25px;">{{emptyMessage}}</p>
            </div>
            <div class="table-responsive" ng-if="orders.length" >
                <table class="table table-hover table-condensed" style="border-bottom: 1px solid gainsboro;">
                    <tr ng-repeat="order in orders" class="editable-row">
                        <td style="vertical-align: middle;padding-top:5px;">{{order.id}}</td>
                        <td style="padding-top: 4px;">
                            <img ng-src="{{order.client.avatar}}" style="width: 50px;height: 50px;border-radius: 50%;margin-top: 4px;">
                        </td>
                        <td style="padding: 5px 8px 0 0;min-width: 110px;">
                            <div>
                                <div style="line-height: 23px;"><span>{{order.client.name}}</span></div>
                                <div style="line-height: 23px;"><span style="font-size: 12px;cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="{{order.time}}">{{order.relativeTime}}</span></div>
                            </div>
                        </td>
                        <td style="line-height: 20px;min-width: 150px;padding-top: 5px;"><span >{{order.address}}</span> <br ng-if="order.notes"/> <span ng-if="order.notes" style="font-size: 12px;font-style: italic;"><b>Notas: </b>{{order.notes}}</span></td>
                        <td style="line-height: 16px;padding: 5px 8px 0 8px;">
                            <span ng-repeat="line in (order.dishes | newlines) track by $index">
                                <p style="margin: 0 0 10px 0;"> {{line}}</p>
                            </span>
                        </td>
                        <td style="line-height: 23px;padding-top: 5px;"><span ><b>${{order.price}}</b></span> <p style="margin:0;">{{order.payMethod}}</p></td>

                        <td style="padding-top: 5px;min-width: 150px;text-align: center;vertical-align: middle;">
                                <span ><p style="margin:0;">{{order.state.name}}</p>
                            </td>
                        <td style="vertical-align: middle;padding-top: 5px;text-align: center;min-width: 170.8px;">
                            <div class="buttons" ng-show="!rowform.$visible" style="border-left: 1px solid gainsboro;">
                                <button class="btn btn-{{order.state.label}}" style="margin-left: 5px; width: 100%" ng-click="manageTransition(order)">
                                    <i ng-show="order.processingTransition" class="fa fa-refresh fa-spin"></i>
                                    <div ng-show="!order.processingTransition">{{ renderNextState(order.state.id)}}</div>
                                </button>
                                <button class="btn btn-danger" style="margin-left: 5px; width: 100%" ng-click="manageCancel(order)">
                                    <i ng-show="order.processingTransition" class="fa fa-refresh fa-spin"></i>
                                    <div ng-show="!order.processingTransition">Cancelar</div>
                                </button>
                            </div>
                        </td>
                    </tr>
                  </table>
            </div>
        </div>
    </div>
</div>