.table th {
  font-weight: 700; }

.table .title-row {
  font-weight: 700;
  font-size: 16px; }

.table .time-column {
  font-style: italic;
  text-align: right;
  width: 40%; }

.table .day-column {
  width: 60%;
  text-align: left !important;
  font-weight: 700; }

.userpic-wrapper img {
  max-height: 100%;
  max-width: 100%; }

.fadeIf.ng-enter {
  transition: 0.5s linear all; }

.fadeIf.ng-enter {
  opacity: 0; }

.fadeIf.ng-enter.ng-enter-active {
  opacity: 1; }

.fadeIf .row {
  padding-left: 10px; }

.profileSliderRow.slider-box {
  min-height: 55px !important; }

.row-eq-height {
  display: -ms-flexbox;
  display: flex; }

/*
   * Styles copied from the Grid example to make grid rows & columns visible.
   */
.container {
  padding-right: 15px;
  padding-left: 15px; }

.dropdown-toggle .btn {
  text-align: left !important; }

.dropdown-toggle .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px; }

.userpic.userpic-error {
  border-color: #ed7878;
  border-style: solid; }

button.btn.btn-default.btn-error {
  border-color: #ed7878;
  border-style: solid;
  border-width: 1px; }

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%; }

pre.pre-pedidos {
  border: none;
  background-color: transparent;
  color: #666666;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 8px; }

.table td.notes {
  max-width: 200px;
  word-wrap: break-word; }

.table td.estado {
  max-width: 130px;
  min-width: 130px;
  white-space: nowrap;
  width: 1%; }

.cssload-container {
  position: relative;
  width: 225px;
  height: 225px;
  display: block;
  margin: 56px auto;
  perspective: 1125px;
  -o-perspective: 1125px;
  -ms-perspective: 1125px;
  perspective: 1125px;
  -o-perspective: 1125px;
  -ms-perspective: 1125px;
  -webkit-perspective: 1125px;
  -moz-perspective: 1125px;
  overflow: hidden; }

.cube {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 34px;
  height: 34px;
  margin-left: -17px;
  margin-top: 0; }

.cube-2d {
  background-color: #e0e0e0; }

.cssload-arc {
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -79px;
  width: 158px;
  height: 79px;
  overflow: hidden; }

.cssload-arc-cube {
  position: absolute;
  bottom: -79px;
  left: 50%;
  margin-left: -79px;
  width: 158px;
  height: 158px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: #20ae92;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: cssload-arc 2.6s ease-in-out infinite;
  -o-animation: cssload-arc 2.6s ease-in-out infinite;
  -ms-animation: cssload-arc 2.6s ease-in-out infinite;
  -webkit-animation: cssload-arc 2.6s ease-in-out infinite;
  -moz-animation: cssload-arc 2.6s ease-in-out infinite;
  transform: rotate(-200deg);
  -o-transform: rotate(-200deg);
  -ms-transform: rotate(-200deg);
  -webkit-transform: rotate(-200deg);
  -moz-transform: rotate(-200deg); }

@keyframes cssload-arc {
  0% {
    border-width: 34px; }
  25% {
    border-width: 17px; }
  50% {
    transform: rotate(27deg);
    border-width: 34px; }
  75% {
    border-width: 17px; }
  100% {
    border-width: 34px; } }

html {
  position: relative;
  min-width: 320px; }

html, body {
  min-height: 100%;
  height: 100%; }

body {
  font: 12px/16px "Roboto", sans-serif;
  color: #666666;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../assets/img/blur-bg.jpg") no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1; }

.page-not-found-modal {
  width: 638px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: 300;
  color: #ffffff;
  padding: 32px;
  text-align: center; }
  .page-not-found-modal h1 {
    font-weight: 300;
    margin-bottom: 32px; }
  .page-not-found-modal p {
    font-size: 16px;
    line-height: 24px; }
  .page-not-found-modal a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: #209e91;
    display: inline-block; }
    .page-not-found-modal a:hover {
      color: #1b867b; }
